<div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="tabela">
        <div class="row tabela-titulo-row">
            <div class="col">
                <span class="tabela-titulo">Nome</span>
            </div>
        </div>
        <div ng-repeat="item in list"  style="padding: 10px;border-bottom: 1px solid #eee;" class="row" ng-click="selectFile(item)" >
            <div class="col">
                <i class="fas" style="margin-right: 10px;" ng-class="{'fa-file': !item.dir, 'fa-folder': item.dir}"></i>{{item.nome}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
